<!DOCTYPE html>
<html>
<head>
    <!--<script src="http://code.createjs.com/easeljs-0.7.0.min.js"></script> -->
    <script src="static/easeljs-0.7.0.min.js"></script>
    <script src="static/jquery-2.2.1.min.js"></script>
    <script src="static/linegame.js"></script>


</head>
<body>
	<h1>Line Segmentation Game</h1>
	<p id="Counter"> Trial 1/1</p>
	<p id="Feedback">Segment the square according to the target's percentage: </p>
	<p id="Target"> Target:  %</p>

    <canvas id="demoCanvas" width="700" height="300">

    </canvas>
    <p id="Debug"> </p>

</body>
</html>


